@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;500;600;700&display=swap');

// Fonts
$main-font: 'Nunito', sans-serif;

// Font Sizes
$small: 14px;
$main-size: 16px;
$title-sm: 32px;
$title-big: 60px;

// Colors
$black-color: rgb(45, 45, 45);
$white-color: #f3f3f3;

// Weight
$light: 300;
$semi-bold: 500;
$bold: 600;